@model Models.Order
@{
    ViewBag.Title = "提交印章文字";
}

<div class="page-header">
    <h1>提交印章文字</h1>
</div>

<form method="POST" action="Create2"> 
    <fieldset>
        <div class="form-group">
            <label for="Name">淘宝订单号</label>
            <input id="TaobaoId" name="TaobaoId" type="text" value="@Model.TaobaoId" class="form-control" placeholder="淘宝订单号" required="required" />
            <br />
            <label for="ImageType">印章类型:</label>
            <label for="Sample.Type">@Model.Sample.ImageType</label>
            <br />
            <label for="Style">样式:</label>
            <input name="SampleId" value="@Model.SampleId" type="text" />
            <br />
            <label for="Style">是否有背景图案</label>
            <input name="IfHasBgImage" value="@Model.Sample.IfHasBgImg" type="text" /> 
            <br />
            <label id="SampleId">@Model.SampleId</label>
            <label>已选择预设方案</label>
            <img src="\Images\icon1.png" />
            <hr />
            <label for="preview">请输入主文字</label>
            <input id="MainText" name="MainText" type="text" value="@Model.MainText" class="form-control" placeholder="印章文字" required="required" />
            <label for="preview">请输入附加文字</label>
            <input id="smallText" name="smallText" type="text" value="@Model.SmallText" class="form-control" placeholder="印章附加文字" />
            <a href="" onclick="createImage()">预览</a>
        </div>
        <div>
            <img src="\Images\icon1.png" />
        </div>
        <label style="color:red">@ViewBag.Message</label>
        <hr />
        <p>
            <input type="submit" name="action" value="Save"  />
            <input type="submit" name="action" value="CreateImage" />
        </p>
    </fieldset>
</form>
<script type="text/javascript">
    function createImage() {

    }
    //function selectSample() {
    //    var type = $("#ImageType").val();
    //    var style = $("#Style").val();
    //    var ifhasBgImage = $("#IfHasBgImage").prop('checked'); 
    //    //alert("selectSample, type:" + type + ", style:" + style + ", ifhasimag:" + ifhasBgImage);
    //    location.href = "/Front/Samples?type=" + type + "&style=" + style + "&ifHasBgImage=" + ifhasBgImage + "&retURL=" + window.location.href; 
    //}

</script>
