@model Models.Order
@{
    ViewBag.Title = "提交印章文字";
}

<div class="page-header">
    <h1>提交印章文字</h1>
</div>

<form method="POST" action="Create"> 
    <fieldset>
        <div class="form-group">
            <label for="Name">淘宝订单号</label>
            <input id="TaobaoId" name="TaobaoId" type="text" value="@Model.TaobaoId" class="form-control" placeholder="淘宝订单号" required="required" />
            <br />
            <label for="ImageType">印章类型</label>
            <select id="ImageType" name="ImageType">
                @foreach (var item in @ViewBag.imageTypes)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <br />
            <label for="ImageSize">尺寸大小</label>
            <select id="ImageSize" name="ImageSize">
                <option value="18" selected="selected">18mm</option>
                <option value="20">20mm</option>
                <option value="22">22mm</option>
            </select>
            <br />
            <label for="Style">样式</label>
            <select id="Style" name="Style">
                <option value="阴文" selected="selected">阴文</option>
                <option value="阳文">阳文</option>
            </select>
            <br />
            <label for="Style">是否有背景图案</label>
            <input type="checkbox" value="IfHasBgImage" />
            <br />
            <a href="@Url.Action("","Order")">点击选择预设方案>></a>
            <hr />
            <label >已选择预设方案</label>
            <hr />
            <label for="preview">请输入主文字</label>
            <input id="Text" name="Text" type="text" value="@Model.MainText" class="form-control" placeholder="印章文字" required="required" />
            <label for="preview">请输入附加文字</label>
            <input id="smallText" name="smallText" type="text" value="@Model.SmallText" class="form-control" placeholder="印章附加文字" />
            <a href="@Url.Action("","Order")">预览</a>
        </div>
        <div>
            <img src="\Images\icon1.png" />
        </div>
        <label style="color:red">@ViewBag.Message</label>
        <hr />
        <p>
            <button type="submit">提交</button> 
        </p>
    </fieldset>
</form>
