@model Models.Sample
@{
    ViewBag.Title = "提交印章文字";
}

<div class="page-header">
    <h1>提交印章文字</h1>
</div>

<form id="itemForm" method="POST" action="Create2" class="form-horizontal" role="form">
    <fieldset>
        <div class="form-group">
            <h3>您选择的方案为：</h3>
            <br />
            <label for="SampleId" class="control-label">方案编号:</label>
            <label for="SampleId">@Model.Id</label>
            <input id="SampleId" name="SampleId" value="@Model.Id" hidden="hidden" />
        </div>
        <div class="form-group">
            <label for="SampleName" class="control-label">方案名称:</label>
            <label for="SampleName">@Model.Name</label>
        </div>
        <div class="form-group">
            <label for="ImageType" class="control-label">印章类型:</label>
            <label for="SampleType">@Model.ImageType</label>
        </div>
        <div class="form-group">
            <label for="SampleStyle" class="control-label">样式:</label>
            <label for="SampleStyle">@Model.Style</label>
        </div>
        <div class="form-group">
            <img src="../UploadFiles/SampleImgs/@Model.ImageUrl" style="width:198px; height:198px" />
        </div>
        <div class="form-group">
            <a href="#" onClick="javascript :history.go(-2);" class="btn-link">重新选择方案</a>
        </div>
        <hr />
        <div class="form-group">
            <label for="TaobaoId" class="control-label">淘宝订单号</label>
            <input id="TaobaoId" name="TaobaoId" type="text" class="form-control" placeholder="淘宝订单号" required="required" />
        </div>
        <div class="form-group">
            <label for="preview" class="control-label">请输入主文字</label>
            <label for="Sample.Style">(文字数量 @Model.MainTextNumber 个):</label>
            <input id="MainText" name="MainText" type="text" class="form-control" placeholder="印章文字" required="required" />
        </div>
        <div class="form-group">
            @if (Model.IfHasSmallText)
            {
                <label for="preview" class="control-label">请输入附加文字(文字数量最多11个):</label>
                <input id="SmallText" name="SmallText" type="text" value="@Model.SmallText" class="form-control" placeholder="印章附加文字" />
            }
        </div>
        <div class="form-group">
            <input type="button" value="预览" onclick="CreateImage(); return false;" class="btn" />
        </div>
        <div class="form-group">
            <input id="ImageUrl" name="ImageUrl" value="" type="text" hidden="hidden" />
            <img id="orderImage" src="" style="width:198px; height:198px" hidden="hidden" />
        </div>
        <label style="color:red">@ViewBag.Message</label>
        <div class="form-group">
            <input type="submit" name="type" value="提交订单" class="btn"/>
        </div>
    </fieldset>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#orderImage").hide();
    });
    function CreateImage() {
        var maintext = $("#MainText").val();
        var taobaoId = $("#TaobaoId").val();
        if (maintext == "") {
            alert("请输入印章文字！");
            return;
        }
        if (taobaoId == "") {
            alert("请输入淘宝订单号！");
            return;
        }
        var formData = new FormData($("#itemForm")[0]);
        $.ajax({
            dataType: "json",
            type: "post",
            url: '/front/Create2?type=CreateImage',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.status == "Fail") {
                    alert(data.message);
                } else {
                    $("#ImageUrl").val(data);
                    $("#orderImage").attr('src', "\\UploadFiles\\OutputImgs\\" + data + "?t=" + Math.random());
                    $("#orderImage").show();
                } 
            },
            error: function (response, ajaxOptions, thrownError) {
                alert("生成图片发生错误");
            }
        });
    }
</script>
