@using Models
@model Models.Sample
@{
    ViewBag.Title = "添加预设样式";
}

<div class="page-header">
    <h1>添加预设样式</h1>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#mainText2").hide();
            $("#mainText3").hide();
            $("#mainText4").hide();
            $("#smalltext").hide();
        });
        function AddMainText() {
            if ($('#mainText2').is(':hidden')) { $("#mainText2").show() }
            else if ($('#mainText3').is(':hidden')) { $("#mainText3").show() }
            else if ($('#mainText4').is(':hidden')) { $("#mainText4").show() }
            else { alert("最多支持4个字"); }
        }

        function AddSmallText() {
            $("#smalltext").toggle();
        }
        function CreateImage() {
            var itemForm = $('#itemForm');
            var formData = new FormData($("#itemForm")[0]);
            $.ajax({
                dataType: "json",
                type: "post", // 提交方式 get/post
                url: '/sample/Create?type=CreateImage', // 需要提交的 url
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    //alert(data);
                    $("#ImageUrl").val(data);
                    $("#sampleimage").attr('src', data);
                    $("#sampleimage").show();
                },
                error: function (response, ajaxOptions, thrownError) {
                    alert("生成图片发生错误");
                }
            }); 
        }

    </script>
</div>

<form id="itemForm" method="POST" action="Create">
    <fieldset>
        <div class="form-group">
            <label for="ImageType">名称</label>
            <input type="text" name="Name" />
            <br />
            <label for="ImageType">印章类型</label>
            <select id="ImageType" name="ImageType">
                <option value="2" selected="selected">圆形章</option>
                <option value="3">方形章</option>
                <option value="4">扁章</option>
                <option value="5">闲章</option>
                <option value="6">儿童印章</option>
                <option value="7">个性签名章</option>
            </select>
            <br />
            <label for="Style">样式</label>
            <select id="Style" name="Style">
                <option value="0" selected="selected">阴文</option>
                <option value="1">阳文</option>
            </select>
            <br />
            <label for="Style">是否有背景图案</label>
            <select id="IfHasBgImage" name="IfHasBgImage">
                <option value="0" selected="selected">无背景图</option>
                <option value="1">有背景图</option>
            </select>
            @*上传背景图片*@
            <br />
            <div id="mainTextDiv">
                <div id="mainText1">
                    <label for="Style">主文字1: </label>
                    <input type="text" name="Text1" style="width:40px" />
                    <label>字体: </label>
                    @Html.DropDownList("Font1", (List<SelectListItem>)ViewData["FontList"], "--Select One--", new { @class = "dropdownlist" })
                    <label>文字大小: </label><input type="text" name="FontSize1" style="width:40px" value="60" />
                    <label>X位置: </label><input type="text" name="PositionX1" style="width:40px" value="148" />
                    <label>Y位置: </label><input type="text" name="PositionY1" style="width:40px" value="50" />
                </div>
                <div id="mainText2">
                    <label for="Style">主文字2</label>
                    <input type="text" name="Text2" style="width:40px" />
                    <label>字体</label>
                    @Html.DropDownList("Font2", (List<SelectListItem>)ViewData["FontList"], "--Select One--", new { @class = "dropdownlist" })
                    <label>文字大小</label><input type="text" name="FontSize2" style="width:40px" value="60" />
                    <label>X位置</label><input type="text" name="PositionX2" style="width:40px" value="148" />
                    <label>Y位置</label><input type="text" name="PositionY2" style="width:40px" value="158" />
                </div>
                <div id="mainText3">
                    <label for="Style">主文字3</label>
                    <input type="text" name="Text3" style="width:40px" />
                    <label>字体</label>
                    @Html.DropDownList("Font3", (List<SelectListItem>)ViewData["FontList"], "--Select One--", new { @class = "dropdownlist" })
                    <label>文字大小</label><input type="text" name="FontSize3" style="width:40px" value="60" />
                    <label>X位置</label><input type="text" name="PositionX3" style="width:40px" value="35" />
                    <label>Y位置</label><input type="text" name="PositionY3" style="width:40px" value="50" />
                </div>
                <div id="mainText4">
                    <label for="Style">主文字4</label>
                    <input type="text" name="Text4" style="width:40px" />
                    <label>字体</label>
                    @Html.DropDownList("Font4", (List<SelectListItem>)ViewData["FontList"], "--Select One--", new { @class = "dropdownlist" })
                    <label>文字大小</label><input type="text" name="FontSize4" style="width:40px" value="60" />
                    <label>X位置</label><input type="text" name="PositionX4" style="width:40px" value="35" />
                    <label>Y位置</label><input type="text" name="PositionY4" style="width:40px" value="158" />
                </div>
            </div>
            <a onclick="AddMainText(); return false;">添加主文字</a>
            <div id="smalltext">
                <label for="Style">副文字: </label>
                <input type="text" name="Text5" style="width:40px" />
                <label>字体: </label>
                @Html.DropDownList("Font5", (List<SelectListItem>)ViewData["FontList"], "--Select One--", new { @class = "dropdownlist" })
                <label>文字大小: </label><input type="text" name="FontSize5" style="width:40px" value="25" />
                <label>X位置: </label><input type="text" name="PositionX5" style="width:40px" value="40" />
                <label>Y位置: </label><input type="text" name="PositionY5" style="width:40px" value="120" />
                <label for="Style">文字顺序: </label>
                <select id="FontOrder" name="FontOrder">
                    <option value="0" selected="selected">从左往右</option>
                    <option value="1">从右往左</option>
                </select>
            </div>
            <br />
            <a onclick="AddSmallText(); return false;">添加副文字</a>
            
            <input type="button" value="生产预览图" onclick="CreateImage(); return false;" />
        </div>
        <div>
            <input id="ImageUrl" name="ImageUrl" value="" type="text" hidden="hidden" />
            <img id="sampleimage" src="" style="width:198px; height:198px" hidden="hidden"/>
        </div>
        <label style="color:red">@ViewBag.Message</label>
        <hr />
        <p>
       
            <input type="submit" name="type" value="保存" /> 
       
        </p>
    </fieldset>
</form>

