@model  IEnumerable<Models.Sample>
@using WebApplication.Common;
@using Models;
@if (Model.Count<Sample>() > 0)
{
    <div style="margin-top:30px; max-height:320px; overflow:auto;" class="form-horizontal">
        <table class="table text-center table-hover" cellpadding="0" cellspacing="0" border="0">
            @{int index = 1; }
            @foreach (Sample sample in Model)
            {
                if (index % 7 == 1)
                {
                    @Html.Raw("<tr>");
                }
                <td style="padding:0px 0px 0px 0px; border: 0;">
                    <div id=@sample.Id onclick="SelectSample('@sample.Id');" style="height:160px; width:160px;">
                        <img src="../UploadFiles/SampleImgs/@sample.ImageUrl" style="width:96px;" /><br />
                        <span style="font-weight:normal">@sample.Font</span><br />
                        <span style="font-weight:normal">@sample.Name</span>
                    </div>
                </td>
                if (index % 7 == 0)
                {
                    @Html.Raw("</tr>");
                };
                index++;
            }
        </table>
    </div>
    <center>@*<button id="btn_confim" onclick="StepTwo()" hidden="hidden" class="btn">确认选择</button>*@</center>
}
