@model.Models.OrderForm
@using System.Web.Mvc.Html
@{
    ViewBag.Title = "创建表单";
    List<Models.ImageType> ImageTypeList = (List<Models.ImageType>)ViewData["ImageTypeList"];
}

<div class="page-header">
    <h1>创建表单</h1>
</div>

<form method="POST" action="Add"> 
    <fieldset>
        <div class="form-group"> 
            @Html.LabelFor(model => model.ImageTypes.ImageType)

            @Html.CheckBoxListFor(model => model.ImageTypes.ImageType, model => model.ImageTypes.ImageType, ImageTypeList, f => f.Id, f => f.Name, false, new Dictionary<string, object> { { "class", "check-inline" } })
         
        </div>
        <button type="submit">生成</button>
        <br />

        <a href="@Model.URL">@Model.URL</a>
        <br/>
        <button type="button">复制链接</button> 链接过期时间： @Model.ExpireTime
        <br />
        <label style="color:red">@ViewBag.Message</label>

        <hr />
        <p>
            <a href="@Url.Action("Index","Order")">关闭</a>
        </p>
    </fieldset>
</form>
