@model  IEnumerable<Models.Order>
@using WebApplication.Common;
@using Models;
@{
    ViewBag.Title = "Orders";
}
<script type="text/javascript">
    function ChangeStatus(orderid, status) {
        if (confirm("确定吗？")) {
            url = "/Order/Update";
            parameter = { id: orderid, status: status };
            $.post(url, parameter, function (data) {
                window.location = "/Order/Index";
            });
        }
    }
    function DownloadPic(imageURL) {
        window.location.href = "/Order/DownloadFile?imageURL=" + imageURL;
    }
    $(document).ready(function () {
        var _lastdays = '@ViewBag.lastdays';
        $("#lastdays").val(_lastdays);

        $("#lastdays").change(function () {
            var lastdays = $("#lastdays").val();
            location.href = "/Order/Index?lastdays=" + lastdays;
        });
    });
</script>
<div class="page-header">
    <h1>订单列表</h1>
    <a href="@Url.Action("Create","Order")" class="btn btn-sm btn-primary">创建订单(新)</a>
    @*<a href="@Url.Action("Add","Order")" class="btn btn-sm btn-primary">创建表单</a>*@
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label for="lastdays" class="col-sm-2 control-label">提交订单时间</label>
        <div class="col-sm-2">
            <select id="lastdays" name="lastdays" class="dropdown form-control">
                <option value="1" selected="selected">最近2天</option>
                <option value="2">最近3天</option>
                <option value="6">最近7天</option>
                <option value="0">只显示今天的</option>
            </select>
        </div>
        <label for="count" class="col-sm-2 control-label" style="color:grey">订单数: @ViewBag.count 个</label>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover">
                    @foreach (var item in @Model)
                    {
                        <tr>
                            <td width="120px">
                                <img src="../UploadFiles/OutputImgs/@item.ImageUrl" width="96" />
                            </td>
                            <td align="left">
                                淘宝订号：@item.TaobaoId<br />
                                预设样式：@item.Sample.Name (@item.SampleId)<br />
                                印章类型：@item.Sample.ImageType.ToString() <br />
                                字体样式：@item.Sample.Style.ToString() <br />
                                @*字体样式： @item.Sample.Style.ToString()&nbsp;&nbsp; <a href="@item.ImageUrl" target="_blank">下载PNG图片</a>*@
                                提交时间：@item.SubmitTime &nbsp;&nbsp; <a href="#" onclick="DownloadPic('@item.ImageUrl'); return false;">下载PNG图片</a>
                            </td>
                            <td align="left" width="220px">
                                【@(item.StatusName)】
                                <br />
                                @if (item.Status == (int)EnumStatus.待生产)
                                {
                                    <span>审核人：@item.AuditorName</span>
                                }
                                else if (item.Status == (int)EnumStatus.生产中)
                                {
                                    <span>审核人：@item.AuditorName</span>
                                    <br />
                                    <span>生产员：@item.ProductorName</span>
                                }
                                else if (item.Status == (int)EnumStatus.已完成)
                                {
                                    <span>审核人：@item.AuditorName</span>
                                    <br />
                                    <span>生产员：@item.ProductorName</span>
                                }
                            </td>
                            <td style="width: 200px">
                                @if (item.Status == (int)EnumStatus.待审批 && UserHelper.GetCurrentUser.Role != EnumRole.生产员.ToString())
                                {
                                    <a href="#" onClick="ChangeStatus(@item.Id,@Convert.ToInt32(EnumStatus.待生产)); return false;" class="btn btn-sm btn-primary">同意</a>
                                    <a href="#" onClick="ChangeStatus(@item.Id,@Convert.ToInt32(EnumStatus.已删除)); return false;" class="btn btn-sm btn-primary">不同意</a>
                                    <a href="#" onClick="ChangeStatus(@item.Id,@Convert.ToInt32(EnumStatus.已删除)); return false;" class="btn btn-sm btn-primary">删除</a>
                                }
                                else if (item.Status == (int)EnumStatus.待生产 && UserHelper.GetCurrentUser.Role != EnumRole.客服.ToString())
                                {
                                    <a href="#" onClick="ChangeStatus(@item.Id,@Convert.ToInt32(EnumStatus.生产中)); return false;" class="btn btn-sm btn-primary">生产</a>
                                    <a href="#" onClick="ChangeStatus(@item.Id,@Convert.ToInt32(EnumStatus.已删除)); return false;" class="btn btn-sm btn-primary">删除</a>
                                }
                                else if (item.Status == (int)EnumStatus.生产中 && UserHelper.GetCurrentUser.Role != EnumRole.客服.ToString())
                                {
                                    <a href="#" onClick="ChangeStatus(@item.Id,@Convert.ToInt32(EnumStatus.已完成)); return false;" class="btn btn-sm btn-primary">完成</a>
                                    <a href="#" onClick="ChangeStatus(@item.Id,@Convert.ToInt32(EnumStatus.已删除)); return false;" class="btn btn-sm btn-primary">删除</a>
                                }
                                else if (item.Status == (int)EnumStatus.已完成)
                                {
                                    <a href="#" onClick="ChangeStatus(@item.Id,@Convert.ToInt32(EnumStatus.已删除)); return false;" class="btn btn-sm btn-primary">删除</a>
                                }
                                else if (item.Status == (int)EnumStatus.已删除)
                                {
                                    <span>已删除</span>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

